<mat-toolbar class="app-top-menu-toolbar">
    <span>

        <a routerLink="/">
            <img [src]="appLogo" alt="Logo" class="logo-img" />
        </a>

    </span>


    @if (!estaLogado) {

   <span class="space"></span>

    <a matButton>Preços</a>
    <a matButton>Contatos</a>

    <span class="space"></span>


    <button matButton [disabled]="estaNaRotaLogin()"  routerLink="/login">Entrar</button>
    <button mat-flat-button [disabled]="estaNaRotaRegister()" routerLink="/register">
        Cadastrar-se
    </button>
}

   @if (estaLogado) {
    <div mat-card-avatar [mat-menu-trigger-for]="menu" class="avatar-usuario">{{pegarInicialUsuario()}}</div>
    
    <mat-menu #menu="matMenu">

        <!--  // o router link nos leva para a rota usar data quando clicamos no notao meus dadtos -->
        <button mat-menu-item  routerLink="/user-data">Meus Dados</button>
        <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>
}

 
</mat-toolbar>